/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include "keys_de.h"

#define BASE 0
#define RAISE 1

/ {
    macros {
        less: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LT>;
            label = "NEW_MACRO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "default";
            // ------------------------------------------------------------------------------------------------------------
            // |   1   |  2  |  3  |  4   |  5   |  6   |                   |  7   |  8    |  9    |  0   |   ß   | ´     |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Z   |  U    |  I    |  O   |   P   | +     |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   #   | DEL   |
            // | SHIFT |  Y  |  X  |  C   |  V   |  B   |        |  | MUTE  |  N   |  M    |  ,    |  .   |   -   | SHIFT |
            //               | CTRL | OPT  | CMD | ENTER|  SPACE |  | SPACE | BSPC | CMD   | OPT   | CTRL |

            bindings = <
            &kp DE_N1 &kp DE_N2  &kp DE_N3 &kp DE_N4 &kp DE_N5 &kp DE_N6                         &kp DE_N7 &kp DE_N8 &kp DE_N9    &kp DE_N0     &kp DE_SHARP_S &kp DE_ACUTE
            &kp ESC   &kp DE_Q   &kp DE_W  &kp DE_E  &kp DE_R  &kp DE_T                          &kp DE_Z  &kp DE_U  &kp DE_I     &kp DE_O      &kp DE_P       &kp DE_PLUS
            &kp TAB   &kp DE_A   &kp DE_S  &kp DE_D  &kp DE_F  &kp DE_G                          &kp DE_H  &kp DE_J  &kp DE_K     &kp DE_L      &kp DE_HASH    &kp DEL
            &sk LSHFT &kp DE_Y   &kp DE_X  &kp DE_C  &kp DE_V  &kp DE_B                          &kp DE_N  &kp DE_M  &kp DE_COMMA &kp DE_PERIOD &kp DE_MINUS   &sk RSHFT
                      &kp C_MUTE &kp LCTRL &kp LALT  &kp LGUI  &kp RET   &lt 1 SPACE &lt 1 SPACE &kp BSPC  &kp LGUI  &kp LALT     &kp LCTRL
                                                                                                 &kp ENTER &kp RIGHT &kp UP_ARROW &kp LEFT      &kp DOWN
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOLUME_DOWN C_VOLUME_UP &inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        raise_layer {
            label = "raise";
            // ------------------------------------------------------------------------------------------------------------
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |   F11 | F12   |
            // |       |     |     |      |      |      |                   |      |  Ü    |       |  Ö   |       |       |
            // |       |  Ä  | ß   | HOME | END  |      |                   | LEFT | DOWN  |   UP  | RIGHT|       |       |
            // |       | ><  |     |      |      |      |        |  |       |      |       |       |      |       |BT CLR |
            //               |     |      |      |      |        |  |       | DEL  |       |       |      |
            bindings = <
            &kp F1  &kp F2              &kp F3          &kp F4    &kp F5  &kp F6                    &kp F7    &kp F8           &kp F9       &kp F10          &kp F11  &kp F12
            &trans  &trans              &trans          &trans    &trans  &trans                    &trans    &kp DE_U_UMLAUT  &trans       &kp DE_O_UMLAUT  &trans   &trans
            &trans  &kp DE_A_UMLAUT     &kp DE_SHARP_S  &kp HOME  &kp END &trans                    &kp LEFT  &kp DOWN         &kp UP       &kp RIGHT        &trans   &trans
            &trans  &less               &trans          &trans    &trans  &trans                    &trans    &trans           &trans       &trans           &trans   &bt BT_CLR
                    &trans              &trans          &trans    &trans  &trans  &trans    &trans  &kp DEL   &trans           &trans       &trans
                                                                                                    &kp ENTER &kp RIGHT        &kp UP_ARROW &kp LEFT      &kp DOWN
            >;

        };

    };
};
